.DS_Store
npm-debug.log
.idea/
dump.rdb
.editorconfig
/client/node_modules/
/server/kafka-server/box/
/server/node-server/box/
/server/kafka-server/node_modules/
/server/node-server/node_modules/
/server/kafka-server/node_modules/.bin/
/server/node-server/node_modules/.bin/
